.hero {
    width: 100%;
    height: 250px;
    background-color:rgb(92, 87, 87);;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    color: yellow;
    text-transform: uppercase;
    padding-top: 100px;
}